 /* line numbers must not be selectable. */
pre .ln {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

@media print {
  aside {
    display: none;
  }

  nav {
    display: none;
  }

  main article {
    margin: 0;
  }

  .cv-wrapper .header {
    margin-top: 0;
  }

  /* To print the CV */
  /* footer {
    display: none;
  } */
}

h1#CV, h1#cv_en {
  display: none;
}


div.cv-wrapper .page-break {
  page-break-after: always;
}

div.cv-wrapper .header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

div.cv-wrapper .header .contact {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

div.cv-wrapper a {
  color: #3873b2;
}

div.cv-wrapper a:hover {
  color: #2088B2;
}

div.cv-wrapper .header .contact li {
  margin: 0.2rem 0;
}

div.cv-wrapper .header .contact .fab, div.cv-wrapper .header .contact .fas {
  margin-right: 0.5rem;
}

div.cv-wrapper .header .contact .fa-github {
  color: black;
}

div.cv-wrapper .header .contact .fa-gitlab {
  color: #fca326;
}

div.cv-wrapper .header .contact .fa-linkedin {
  color: #0a66c2;
}

div.cv-wrapper .header .contact .fa-rss {
  color: #f49235;
}

div.cv-wrapper .header .contact .name {
  font-weight: 600;
  font-size: 2rem;
}

div.cv-wrapper .header .contact .name span {
  font-variant: small-caps;
}

div.cv-wrapper .header img {
  max-width: 100px;
  height: auto;
}

div.cv-wrapper .title {
  font-size: 2rem;
  font-weight: 600;
}

div.cv-wrapper .section .line {
  display: flex;
  align-items: flex-start;
  margin: 0.25rem;
}

div.cv-wrapper .section .line.title-line {
  margin: 1rem 0 0.5rem 0;
  align-items: center;
}

div.cv-wrapper .section .line > p {
  margin: 0.2rem 0;
}

div.cv-wrapper .section .line div.multi-p-description p {
  margin: 0.15rem 0;
}

div.cv-wrapper .section .line > :first-child {
  flex-basis: 25%;
  text-align: right;
}

div.cv-wrapper .section .line > :last-child {
  margin-left: 1.5rem;
  flex-basis: 75%;
}

div.cv-wrapper .section .title-separator {
  height: 0.3rem;
  background-color: #3873b2;
}

div.cv-wrapper .section .line .title {
  font-size: 1.5rem;
  font-weight: normal;
  color: #3873b2;
  margin-top: 0;
  margin-bottom: 0;
}

div.cv-wrapper .section .line .job-title {
  font-weight: 600;
}

div.cv-wrapper .section .line .job-location {
  
}

div.cv-wrapper .section .line .company-name {
  font-style: oblique;
}
